@use 'funcs/size-func' as *;
@use 'funcs/color-func' as *;
@use 'mixins/box-mixin' as box;

@mixin rotate-icon($rotate-value) {
  .ui.icon {
    rotate: var(--icon-transform-rotate);
  }

  &:dir(ltr) {
    --icon-transform-rotate: #{$rotate-value};
  }

  &:dir(rtl) {
    --icon-transform-rotate: #{-1 * $rotate-value};
  }
}

:host {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  gap: get-size-var(sm-1);

  article {
    @include box.rounded(paper-darkest);
    padding: get-size-var(sm-1);
    width: 100%;

    &#tooltips {
      grid-area: 1 / 1 / 2 / 2;
    }

    &#popovers {
      grid-area: 1 / 2 / 2 / 3;

      h3.popover-sample {
        display: flex;
        align-items: center;
        gap: get-size-var(xs-4);
        width: max-content;

        &.bordered {
          @include box.rounded-tiny(accent);
          background-color: get-color-var(paper);
        }
      }
    }

    &#tooltips,
    &#popovers {
      display: flex;
      flex-direction: column;
      gap: get-size-var(md-1);

      > section {
        display: grid;
        grid-template-rows: repeat(7, min-content);
        grid-template-columns: repeat(7, min-content);
        gap: get-size-var(sm-1);
        place-self: center;

        button {
          &.event {
            grid-area: 2 / 2 / 3 / 7;
          }

          &.has-bubble {
            grid-area: 3 / 2 / 4 / 7;
          }

          &.has-close {
            grid-area: 4 / 2 / 5 / 7;
          }

          &.has-arrow {
            grid-area: 5 / 2 / 6 / 7;
          }

          &.is-disabled {
            grid-area: 6 / 2 / 7 / 7;
          }

          &.block {
            &-start {
              &-corner {
                &-start {
                  grid-area: 1 / 1 / 2 / 2;
                  @include rotate-icon(-45deg);
                }

                &-end {
                  grid-area: 1 / 7 / 2 / 8;
                  @include rotate-icon(45deg);
                }
              }

              &-edge {
                &-start {
                  grid-area: 1 / 3 / 2 / 4;
                  @include rotate-icon(-90deg);
                }

                &-end {
                  grid-area: 1 / 5 / 2 / 6;
                  @include rotate-icon(90deg);
                }
              }

              &-inline {
                &-start {
                  grid-area: 1 / 2 / 2 / 3;
                  @include rotate-icon(-22.5deg);
                }

                &-center {
                  grid-area: 1 / 4 / 2 / 5;
                }

                &-end {
                  grid-area: 1 / 6 / 2 / 7;
                  @include rotate-icon(22.5deg);
                }
              }
            }

            &-end {
              &-corner {
                &-start {
                  grid-area: 7 / 1 / 8 / 2;
                  @include rotate-icon(-135deg);
                }

                &-end {
                  grid-area: 7 / 7 / 8 / 8;
                  @include rotate-icon(135deg);
                }
              }

              &-edge {
                &-start {
                  grid-area: 7 / 3 / 8 / 4;
                  @include rotate-icon(-90deg);
                }

                &-end {
                  grid-area: 7 / 5 / 8 / 6;
                  @include rotate-icon(90deg);
                }
              }

              &-inline {
                &-start {
                  grid-area: 7 / 2 / 8 / 3;
                  @include rotate-icon(-157.5deg);
                }

                &-center {
                  grid-area: 7 / 4 / 8 / 5;
                  @include rotate-icon(180deg);
                }

                &-end {
                  grid-area: 7 / 6 / 8 / 7;
                  @include rotate-icon(157.5deg);
                }
              }
            }
          }

          &.inline {
            &-start {
              &-edge {
                &-start {
                  grid-area: 3 / 1 / 4 / 2;
                }

                &-end {
                  grid-area: 5 / 1 / 6 / 2;
                  @include rotate-icon(180deg);
                }
              }

              &-block {
                &-start {
                  grid-area: 2 / 1 / 3 / 2;
                  @include rotate-icon(-67.5deg);
                }

                &-center {
                  grid-area: 4 / 1 / 5 / 2;
                  @include rotate-icon(-90deg);
                }

                &-end {
                  grid-area: 6 / 1 / 7 / 2;
                  @include rotate-icon(-112.5deg);
                }
              }
            }

            &-end {
              &-edge {
                &-start {
                  grid-area: 3 / 7 / 4 / 8;
                }

                &-end {
                  grid-area: 5 / 7 / 6 / 8;
                  @include rotate-icon(180deg);
                }
              }

              &-block {
                &-start {
                  grid-area: 2 / 7 / 3 / 8;
                  @include rotate-icon(67.5deg);
                }

                &-center {
                  grid-area: 4 / 7 / 5 / 8;
                  @include rotate-icon(90deg);
                }

                &-end {
                  grid-area: 6 / 7 / 7 / 8;
                  @include rotate-icon(112.5deg);
                }
              }
            }
          }
        }
      }
    }

    &#bubbles {
      display: grid;
      grid-template-rows: min-content repeat(2, 1fr);
      grid-template-columns: subgrid;
      grid-area: 2 / 1 / 3 / 3;

      > section {
        padding-block-end: get-size-var(md-4);
        padding-inline-start: get-size-var(md-4);

        .ui.button.target {
          width: get-size-var(100);
        }

        .ui.bubble {
          max-width: get-size-var(100);
          width: max-content;
        }
      }

      .title {
        grid-area: 1 / 1 / 2 / 3;
      }

      :is(.corner, .center, .horizontal-edge, .vertical-edge) {
        display: flex;
        flex-direction: column;
        justify-content: center;

        :is(.block-start, .block-center, .block-end) {
          display: flex;
          justify-content: center;

          .ui.bubble {
            height: max-content;
            width: max-content;
          }
        }
      }

      .corner {
        grid-area: 2 / 1 / 3 / 2;

        :is(.block-start, .block-end) {
          gap: get-size-var(102);
        }

        .block-center {
          .ui.button.target {
            margin: get-size-var(xs-1);
          }
        }
      }

      .center {
        grid-area: 2 / 2 / 3 / 3;

        :is(.block-start, .block-center, .block-end) {
          justify-content: center;
          align-items: center;
        }

        .block-center {
          .ui.button.target {
            margin: get-size-var(xs-5);
          }
        }
      }

      .horizontal-edge {
        grid-area: 3 / 1 / 4 / 2;

        :is(.block-start, .block-end) {
          gap: get-size-var(50);
          justify-content: center;
          align-items: center;
        }

        .block-center {
          .ui.button.target {
            margin: get-size-var(xs-6);
          }
        }
      }

      .vertical-edge {
        grid-area: 3 / 2 / 4 / 3;
        flex-direction: row;
        align-items: center;

        :is(.inline-start, .inline-end) {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;
          gap: get-size-var(sm-1);
        }

        .inline-center {
          .ui.button.target {
            margin: get-size-var(xs-5);
            height: get-size-var(100);
          }
        }
      }
    }
  }
}
