@use 'sass:color';
@use './libs/fabric/src/lib/ext/styles/utils/_config.util.scss' as *;
@use './libs/fabric/src/lib/ext/styles/_default-configs.scss' as *;

$new-color-pigments: (
  primary: green,
  base: pink,
  danger: darkorange
);

$fab-configs: merge-configs($fab-default-configs, (
  //color: (pigments: $new-color-pigments),
  //size: (alias: (step: 4)),
));
