@use 'helpers/size-helper' as *;
@use 'mixins/box-mixin' as box;
@use 'mixins/shadow-mixin' as shadow;
@use 'mixins/size-mixin' as size;

:host {
  & > article > article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    section {
      display: flex;
      flex-direction: column;
      gap: get-size-var(sm-1);
      padding: get-size-var(sm-1);

      > menu {
        @include box.rounded(small, $bg-color: paper-dark, $border-color: paper-darkest);
        @include size.rect(max);
        @include shadow.medium;

        &.wide,
        &.compact ::ng-deep menu {
          width: get-size-var(100);
        }
      }
    }
  }
}
