@use 'helpers/size-helper' as *;
@use 'mixins/box-mixin' as box;
@use 'mixins/shadow-mixin' as shadow;
@use 'mixins/size-mixin' as size;

:host {
  display: flex;

  section {
    @include box.rounded(small);
    display: flex;
    flex-direction: column;
    gap: get-size-var(sm-1);
    width: get-titled-size(full);
    padding: get-size-var(sm-1);

    &:first-of-type {
      width: get-titled-size(max);
    }

    > menu {
      @include box.rounded(small, $bg-color: paper-dark, $border-color: paper-darkest);
      @include size.rect(max);
      @include shadow.medium;

      &.wide,
      &.compact ::ng-deep menu {
        width: get-size-var(100);
      }
    }
  }
}
