<div style="position:absolute;top: 0; right: 0;z-index:1000;">
  @if (htmlDir() === 'ltr') {
    <button (click)="htmlDir.set('rtl')" style="width: 100px; border: 1px solid gray;">RTL</button>
  } @else {
    <button (click)="htmlDir.set('ltr')" style="width: 100px; border: 1px solid gray;">LTR</button>
  }
</div>

@let isAuthenticated = isUserAuthenticated();

@defer (on timer(100ms)) {
  @if (!isAuthenticated) {
    @defer (on timer(100ms)) {
      <ng-container *ngTemplateOutlet="routerOutletTemplate" />
    }
  }

  @defer (when isAuthenticated) {
    @if (isAuthenticated) {
      @defer (on timer(100ms)) {
        <nu-panel>
          <ng-container nav-body>
            <menu [uiMenu]="navMainMenu"
              [ngClass]="navExtent()"
              [extent]="navExtent()"
              [submenuMode]="navExtent() === 'compact' ? 'floating' : 'sliding'"
              class="rounded-medium"
            ></menu>
          </ng-container>

          <ng-container nav-footer>
            <menu [uiMenu]="navFooterMenu"
              [ngClass]="navExtent()"
              [extent]="navExtent()"
              [submenuMode]="navExtent() === 'compact' ? 'floating' : 'sliding'"
              class="rounded-medium"
            ></menu>
          </ng-container>

          <ng-container *ngTemplateOutlet="routerOutletTemplate" />
        </nu-panel>
      }
    }
  }
}


<ng-template #routerOutletTemplate>
  <router-outlet hidden/>
</ng-template>

<ui-message />

<dialog [uiDialog]="showSignOutConfirm()">
  <header>
    <h4 i18n>Sign Out</h4>
  </header>
  <section>
    <h6 i18n>Are You sure you want to logout?</h6>
  </section>

  <footer>
    <div class="actions">
      <button
        class="ui button normal warning bulk"
        (click)="signOut()"
      >
        <svg uiSvgIcon="logout"  />
        <span i18n>Yes</span>
      </button>

      <button
        class="ui button normal neutral bulk"
        (click)="showSignOutConfirm.set(false)"
      >
        <svg uiSvgIcon="close-square" />
        <span i18n>No</span>
      </button>
    </div>
  </footer>
</dialog>
