<div style="position:absolute;top: 0; right: 0;z-index:1000;">
  @if (htmlDir() === 'ltr') {
    <button (click)="htmlDir.set('rtl')" style="width: 100px; border: 1px solid gray;">RTL</button>
  } @else {
    <button (click)="htmlDir.set('ltr')" style="width: 100px; border: 1px solid gray;">LTR</button>
  }
</div>

@let isAuthenticated = isUserAuthenticated();

@defer (on timer(100ms)) {
  @if (!isAuthenticated) {
    @defer (on timer(100ms)) {
      <ng-container *ngTemplateOutlet="routerOutletTemplate" />
    }
  }

  @defer (when isAuthenticated) {
    @if (isAuthenticated) {
      @defer (on timer(100ms)) {
        <nu-panel>
          <ng-container nav-body>
            <menu [fabMenuItems]="navMainMenu"
                  [ngClass]="navExtent()"
                  [extent]="navExtent()"
                  [submenuMode]="navExtent() === 'compact' ? 'floating' : 'sliding'"
                  class="rounded-medium"
            ></menu>
          </ng-container>

          <ng-container nav-footer>
            <menu [fabMenuItems]="navFooterMenu"
                  [ngClass]="navExtent()"
                  [extent]="navExtent()"
                  [submenuMode]="navExtent() === 'compact' ? 'floating' : 'sliding'"
                  class="rounded-medium"
            ></menu>
          </ng-container>

          <ng-container *ngTemplateOutlet="routerOutletTemplate" />
        </nu-panel>
      }
    }
  }
}


<ng-template #routerOutletTemplate>
  <router-outlet />
</ng-template>

<fab-message />
<p-confirmDialog></p-confirmDialog>
