<table>
  <thead>
    <tr>
      <th>Icon family</th>
      @for (color of colors; track $index) {
        <th>{{ color }}</th>
      }
    </tr>
  </thead>

  <tbody>
    @for (variant of variants; track $index) {
      <tr>
        <td>{{ variant }}</td>
        @for (color of colors; track $index) {
          <td>
            <div>
              @for (size of sizes; track $index) {
                <svg
                  fabSvgIcon="demo"
                  [variant]="variant"
                  [ngClass]="[size, color]"
                />
              }
            </div>
          </td>
        }
      </tr>
    }
  </tbody>
</table>
