@use 'helpers/size-helper' as *;
@use 'mixins/box-mixin' as box;

:host {
  display: flex;
  flex-direction: column;
  gap: get-size-var(sm-1);

  section {
    @include box.rounded(neutral-surface-darker);
    display: flex;
    flex-direction: column;
    gap: get-size-var(xs-4);
    padding: get-size-var(sm-1);
  }
}
