@use 'libs/fabric/src/lib/external/styles/funcs/index.scss' as *;
@use 'libs/fabric/src/lib/external/styles/mixins/index.scss' as *;
@use 'libs/theme/src/lib/external/styles/_basic-theme.scss';

/****************/
@use 'libs/fabric/src/lib/external/styles/_base.scss';
@use 'libs/fabric/src/lib/external/styles/_card.scss';
@use 'libs/fabric/src/lib/external/styles/_bubble.scss';
@use 'libs/fabric/src/lib/external/styles/_input.scss';
@use 'libs/fabric/src/lib/external/styles/_checkbox.scss';
@use 'libs/fabric/src/lib/external/styles/_toggle.scss';
@use 'libs/fabric/src/lib/external/styles/_form-field.scss';
@use 'libs/core/src/lib/external/styles/index.scss';


table {
  @include box-rounded-small;
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: get-size-var(sm-1);
  }

  th {
    text-align: start;
    color: get-color-var(neutral-lighter);
  }

  > thead {
    th {
      width: get-size-var(xl-4);
      border-block-end-width: get-border-width-var(thin);
    }
  }

  > tbody {
    tr {
      &:hover {
      }

      td > div {
        display: flex;
        align-items: center;
        gap: get-size-var(xs-4);
      }
    }
  }
}
