@use 'libs/fabric/src/lib/external/styles/funcs/_index.scss' as fab-func;
@use 'libs/theme/src/lib/external/styles/_basic-theme.scss';

/****************/
@use 'libs/fabric/src/lib/external/styles/_variables.scss';
@use 'libs/fabric/src/lib/external/styles/_base.scss';
@use 'libs/fabric/src/lib/external/styles/_button-old.scss';
@use 'libs/fabric/src/lib/external/styles/_card.scss';
@use 'libs/fabric/src/lib/external/styles/_bubble.scss';
@use 'libs/fabric/src/lib/external/styles/_input.scss';
@use 'libs/fabric/src/lib/external/styles/_checkbox.scss';
@use 'libs/fabric/src/lib/external/styles/_toggle.scss';
@use 'libs/fabric/src/lib/external/styles/_form-field.scss';
@use 'libs/core/src/lib/external/styles/_index.scss';

:root {
  --font-size: #{fab-func.get-size(medium-1)};
}

html {
  font-size: var(--font-size);

  body {
    svg-icon {
      height: var(--font-size);
      width: var(--font-size);

      svg {
        height: inherit;
        width: inherit;
      }
    }
  }
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
    //text-decoration-color: inherit;
  }
}
/****************/

body {
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: fab-func.get-size-var(small-2);
  border-width: 1px;

  th,
  td {
    padding: fab-func.get-size-var(medium-1);
  }

  th {
    text-align: start;
    color: fab-func.get-color-var(neutral-lighter);
  }

  > thead {
    th {
      width: fab-func.get-size-var(vast-4);
      border-block-end-width: 1px;
    }
  }

  > tbody {
    tr {
      &:hover {
      }

      td > div {
        display: flex;
        align-items: center;
        gap: fab-func.get-size-var(small-4);
      }
    }
  }
}
