<table>
  <thead>
    <tr>
      <th>Size</th>
      @for (color of colors; track $index) {
        <th>{{ color }}</th>
      }
    </tr>
  </thead>

  <tbody>
    @for (size of sizes; track $index) {
      <tr>
        <td>{{ size || 'default' }}</td>
        @for (color of colors; track $index) {
          <td>
            <button [class]="['ui', 'button', size, color].join(' ')">
              <svg-icon [src]="ICON" />
              <span>{{ color }}</span>
            </button>
          </td>
        }
      </tr>
    }

    <tr>
      <th>Variant</th>
      <td [colSpan]="colors.length"></td>
    </tr>

    @for (variant of variants; track $index) {
      <tr>
        <td>{{ variant || 'default' }}</td>
        @for (color of colors; track $index) {
          <td>
            <button [class]="['ui', 'button', variant, color].join(' ')">
              <svg-icon [src]="ICON" />
              <span>{{ color }}</span>
            </button>
          </td>
        }
      </tr>
    }
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Size</th>
      @for (color of colors; track $index) {
        <th>{{ color }}</th>
      }
    </tr>
  </thead>

  <tbody>
    @for (size of sizes; track $index) {
      <tr>
        <td>{{ size || 'default' }}</td>
        @for (color of colors; track $index) {
          <td>
            <a routerLink="/button" [class]="['ui', 'link', size, color].join(' ')">
              <svg-icon [src]="ICON" />
              <span>{{ color }}</span>
            </a>
          </td>
        }
      </tr>
    }
  </tbody>
</table>
