<table>
  <thead>
  <tr>
    <th>Size</th>
    @for (color of colors; track $index) {
      <th>{{ color }}</th>
    }
  </tr>
  </thead>

  <tbody>
    @for (size of sizes; track $index) {
      <tr>
        <td>{{ size || 'default' }}</td>
        @for (color of colors; track $index) {
          <td>
            <button [class]="['ui', 'button', size, color].join(' ')">
              <ng-container *ngTemplateOutlet="icon" />
              <span>{{ color | titlecase }}</span>
            </button>
          </td>
        }
      </tr>
    }

  <tr>
    <th>Variant</th>
    <td [colSpan]="colors.length"></td>
  </tr>

    @for (variant of variants; track $index) {
      <tr>
        <td>{{ variant || 'default' }}</td>
        @for (color of colors; track $index) {
          <td>
            @if (variant === 'second') {
              <button [class]="['ui', 'button', 'text', 'darkgray', variant+'-'+color].join(' ')">
                <ng-container *ngTemplateOutlet="icon" />
                <span>{{ color | titlecase }}</span>
              </button>
            } @else {
              <button [class]="['ui', 'button', variant, color].join(' ')">
                <ng-container *ngTemplateOutlet="icon" />
                @if (variant !== 'icon') {
                  <span>{{ color | titlecase }}</span>
                }
              </button>
            }
          </td>
        }
      </tr>
    }
  </tbody>
</table>

<table>
  <thead>
  <tr>
    <th>Size</th>
    @for (color of colors; track $index) {
      <th>{{ color }}</th>
    }
  </tr>
  </thead>

  <tbody>
    @for (size of sizes; track $index) {
      <tr>
        <td>{{ size || 'default' }}</td>
        @for (color of colors; track $index) {
          <td>
            <a routerLink="/button" [class]="['ui', 'link', size, color].join(' ')">
              <ng-container *ngTemplateOutlet="icon" />
              <span>{{ color | titlecase }}</span>
            </a>
          </td>
        }
      </tr>
    }
  </tbody>
</table>

<ng-template #icon>
  <svg-icon src="icons/outline/tick-circle.svg" svgClass="outline" />
</ng-template>
