<div class="page page-list">
  <nu-generic-list-toolbar [toolbar]="toolbar"
                                     [selectedRecords]="selectedRecords().length"
                                     [(pagination)]="pagination"
                                     class="page-toolbar page-list-toolbar">
  </nu-generic-list-toolbar>

  <nu-generic-list [data]="filteredData"
                             [idField]="config.field.id"
                             [table]="table"
                             [firstRow]="pagination().first"
                             [showLoading]="isDataLoading()"
                             [isActivatable]="true"
                             selectionMode="multiple"
                             (selection)="changeSelection($event)"
                             (activation)="activate($event)"
                             class="page-content page-list-content">
  </nu-generic-list>
</div>
