@use 'libs/fabric/src/lib/external/styles/funcs/index.scss' as *;
@use 'libs/fabric/src/lib/external/styles/mixins/index.scss' as *;

:host {
  display: flex;
  gap: get-size-var(medium-1);

  section {
    display: flex;
    width: 100%;
    gap: get-size-var(small-4);
    border-radius: get-size-var(small-2);
    border-width: 1px;
    padding: get-size-var(medium-1);

    > menu {
      @include shadow-medium;
      height: max-content;
      width: max-content;
      background-color: get-color-var(paper-dark);
      border-radius: get-size-var(small-4);

      &.wide,
      &.compact ::ng-deep menu {
        width: get-size-var(100);
      }
    }
  }
}
