@use 'libs/fabric/src/lib/external/styles/funcs/index.scss' as *;
@use 'libs/fabric/src/lib/external/styles/mixins/index.scss' as *;

:host {
  display: flex;
  gap: get-size-var(small-1);

  section {
    @include box-rounded-mini;
    display: flex;
    width: 100%;
    gap: get-size-var(tiny-4);
    padding: get-size-var(small-1);

    > menu {
      @include box-rounded-big;
      @include shadow-medium;
      height: max-content;
      width: max-content;
      background-color: get-color-var(paper-dark);

      &.wide,
      &.compact ::ng-deep menu {
        width: get-size-var(100);
      }
    }
  }
}
