<table>
  <thead>
    <tr>
      <th>Icon family</th>
      @for (color of colors; track $index) {
        <th>{{ color }}</th>
      }
    </tr>
  </thead>

  <tbody>
    @for (variant of variants; track $index) {
      <tr>
        <td>{{ variant }}</td>
        @let icon = 'icons/' + variant + '/tick-circle.svg';
        @for (color of colors; track $index) {
          <td>
            <div>
              @for (size of sizes; track $index) {
                <svg-icon
                  [src]="icon"
                  [svgClass]="['ui', 'icon', variant, size, color].join(' ')"
                />
              }
            </div>
          </td>
        }
      </tr>
    }
  </tbody>
</table>
