@use 'libs/fabric/src/lib/external/styles/funcs/index.scss' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: get-size-var(medium-1);

  section {
    display: flex;
    flex-direction: column;
    gap: get-size-var(small-4);
    border-radius: get-size-var(small-2);
    border-width: 1px;
    padding: get-size-var(medium-1);
  }
}
