@use 'libs/fabric/src/lib/external/styles/funcs/index.scss' as *;
@use 'libs/fabric/src/lib/external/styles/mixins/index.scss' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: get-size-var(medium-1);

  section {
    @include box-rounded-large(neutral-inverse-darker);
    display: flex;
    flex-direction: column;
    gap: get-size-var(small-4);
    padding: get-size-var(medium-1);
  }
}
