@use 'sass:color';

$new-color-pigments: (
  primary: green,
  base: pink,
  danger: darkorange
);

$fab-custom-configs: (
  //color: (pigments: $new-color-pigments),
  //size: (alias: (step: 4)),
);
