@use 'funcs/size-func' as *;
@use 'funcs/color-func' as *;
@use 'mixins/box-mixin' as box;
@use 'mixins/shadow-mixin' as shadow;

:host {
  display: flex;

  section {
    @include box.rounded-small;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: get-size-var(sm-1);
    padding: get-size-var(sm-1);

    &:first-of-type {
      width: max-content;
    }

    > menu {
      @include box.rounded-small(paper-darkest);
      @include shadow.medium;
      height: max-content;
      width: max-content;
      background-color: get-color-var(paper-dark);

      &.wide,
      &.compact ::ng-deep menu {
        width: get-size-var(100);
      }
    }
  }
}
